<div class="text-center mt-5 mb-5 banner-con">
  <h1 class="mb-4">Información del proyecto</h1>
  <div class="banner">
    <p>
      Hemos desarrollado una aplicación web para identificador diferentes tipos
      de flores a través de una red neuronal. En nuestro portal podrás
      indetificar una flor subiendo una foto de esta; o podrás identicarla en
      tiempo real con una cámara, incluso con la del móvil.
    </p>
    <p>
      También es importante mencionar que se podrá identificar un número
      limitado de flores, que son las del dataset con la que se ha entrenado a
      la red neuronal. Estos tipos de flores estarán guardados en la base de
      datos junto con la información que se mostrará de cada tipo de flor. Hemos
      trabajado con la base de datos online que ofrece Google, llamada Firebase
    </p>
  </div>
</div>

<div class="container">
  <div class="row d-flex justify-content-center">
      <div class="col-6 functions">
        <h3 class="mb-4">Funcionalidades implementadas</h3>
        <div class="functions-info">
            <ul>
                <li>
                    Reconocimiento de flores a través de fotos
                    <ul>
                        <li>Mostrar información del tipo de flor</li>
                        <li>Link para comprar semillas de esa flor</li>
                    </ul>
                </li>
                <li>Reconocimiento de flores en tiempo real</li>
                <li>Ver lista de flores identificables</li>
                <li>Añadir más flores a la base de datos (administradores)</li>
            </ul>
        </div>
    </div>

    <div class="col-6 components">
      <h3>Equipo de desarrollo</h3>
      <div class="components-info">
          
      <table class="table">
        <tr>
          <th scope="row">1</th>
          <td>Eduardo</td>
          <td>Hernández Parra</td>
          <td>
            <a
              href="https://ncvt-aep.ulpgc.es/cv/ulpgctp21/user/profile.php?id=143740"
              target="_blank"
              class="btn btn-dark btn-sm"
            >
              <span class="glyphicon glyphicon-share"></span> Perfil ULPGC
            </a>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Airam</td>
          <td>Hernández Pérez</td>
          <td>
            <a
              href="https://ncvt-aep.ulpgc.es/cv/ulpgctp21/user/profile.php?id=205501"
              target="_blank"
              class="btn btn-dark btn-sm"
            >
              <span class="glyphicon glyphicon-share"></span> Perfil ULPGC
            </a>
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Daniel</td>
          <td>Reyes García</td>
          <td>
            <a
              href="https://ncvt-aep.ulpgc.es/cv/ulpgctp21/user/profile.php?id=103917"
              target="_blank"
              class="btn btn-dark btn-sm"
            >
              <span class="glyphicon glyphicon-share"></span> Perfil ULPGC
            </a>
          </td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Álvaro</td>
          <td>Santana Naranjo</td>
          <td>
            <a
              href="https://ncvt-aep.ulpgc.es/cv/ulpgctp21/user/profile.php?id=153549"
              target="_blank"
              class="btn btn-dark btn-sm"
            >
              <span class="glyphicon glyphicon-share"></span> Perfil ULPGC
            </a>
          </td>
        </tr>
      </table>
      </div>
    </div>
  </div>
</div>

<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
/>
